.navbar-brand {

    font-size: 26pt;
    background-color: #1abc9c;
    padding-left: 14px;
    border-style: solid;
    border-width: 2px;
    width: 20%;
    vertical-align: center;
}

.navbar {
    padding-left: 270px;
}

.navbar-nav {
    padding-right: 210px;
}

.container {
    border-style: solid;
    border-width: 2px;

}

.fixed-bottom {
    background-color: #7f8c8d;
}

.mx-auto {
    background-color: #dfe6e9;
}

h1 {
    padding-left: 10px;
}

.btn {
    background-color: #1abc9c;
}