.navbar-brand {

    font-size: 26pt;
    background-color: #1abc9c;
    padding-left: 10px;
    border-style: solid;
    border-width: 2px;
    width: 20%;
    vertical-align: center;
}

.navbar {
    padding-left: 275px;
    border-top: solid;
    border-bottom: solid;
    border-width: 2px;
}

.navbar-nav {
    padding-right: 210px;

}

.container {
    border-style: solid;
    border-width: 2px;
    margin-top: 15px;

}

.fixed-bottom {
    background-color: #7f8c8d;
}

.mx-auto {
    background-color: #dfe6e9;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-191%);
    background-color: #1abc9c;
    padding-left: 65px;
    padding-right: 65px;

}

.overlay2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(90%);
    background-color: #1abc9c;
    padding-left: 50px;
    padding-right: 50px;
}

.overlay3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(91%);
    background-color: #1abc9c;
    padding-left: 57px;
    padding-right: 57px;
}

.overlay4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-191%);
    background-color: #1abc9c;
    padding-left: 49px;
    padding-right: 49px;
}

.overlay5 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-190%);
    background-color: #1abc9c;
    padding-left: 60px;
    padding-right: 60px;
}

img {
    border-style: solid;
    border-width: 2px;

}

a:hover {
    transform: translate(-2px, -6px);
    transition: all 0.15s ease-in;
    text-shadow: 3px 3px 3px rgb(116, 113, 113);
}